<<<<<<< HEAD
.fa-sort-down {
	position: relative;
	top: -5px;
	margin-left: 5px;
=======
/*
	VALUABLE COMMENT
*/

body {
	font-size: 16px;
}

img {
	border: 1px solid red;
>>>>>>> 3408b1ec93b625158bcbd0f5998e40a8dece6677
}